{% extends "search.html" %}

{% block results %}
<h2>{% block table_title %}&ldquo;{{ searched }}&rdquo;{% endblock %}</h2>
{% if results|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>中文</th>
                <th>{% if chars == 's' %}量词{% else %}量詞{% endif %}</th>
                <th>English</th>
            </tr>
        </thead>
        <tbody>
            {% block table_body %}
                {% for result in results %}
                    <tr>
                        <td {% if chars == 's' %}lang="zh_CN"{% else %}lang="zh_TW"{% endif %}>
                            <a
                            href="/characters?word={% if chars == 's' %}{{ result['s'] }}&amp;chars=s{% else %}{{ result['t'] }}&amp;chars=t{% endif %}"
                            title="look up each character in {% if chars == 's' %}{{ result['s'] }}{% else %}{{ result['t'] }}{% endif %}"
                            >
                                <ruby>
                                    {% if chars == 's' %}
                                        {{ result['s'] }}
                                    {% else %}
                                        {{ result['t'] }}
                                    {% endif %}
                                    <rp>(</rp><rt>{{ result['p'] }}</rt><rp>)</rp>
                                </ruby>
                            </a>
                        </td>
                        {% if chars == 's' and result['cs']|length > 0 %}
                            <td lang="zh_CN">
                                <a href="/characters?word={{ result['cs'] }}&amp;chars=s" title="look up {{ result['cs'] }}">
                                    {{ result['cs'] }}
                                </a>
                            </td>
                        {% elif result['ct']|length > 0 %}
                            <td lang="zh_TW">
                                <a href="/characters?word={{ result['ct'] }}&amp;chars=t" title="look up {{ result['ct'] }}">
                                    {{ result['ct'] }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            {{ result['e'] | join(', ') }}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
    </table>
{% else %}
<p>未找到结果 No results found.</p>
{% endif %}
{% endblock %}
